/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .width-100 {
        width: 1auto;
    }

    .company-name {
        font-size: 5vw;
    }

    .second-container h1 {
        font-size: 5vw;
    }

    .input-container {
        margin-bottom: 30px;
    }

    .searchBar {
        width: auto;
        margin: 0;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 0;
        margin: 0;
        margin-bottom: 30px;
    }

    .section-two-btn {
        overflow-x: scroll;
    }

    .all-btn {
        width: auto;
        height: auto;
        padding: 1rem;
    }

    .btn {
        width: auto;
        height: auto;
        padding: 1rem;
    }

    .flex {
        flex-direction: column;
    }

    .cards {
        width: auto;
        margin-bottom: 10%;
    }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .width-100 {
        width: 1auto;
    }

    .company-name {
        font-size: 5vw;
    }

    #nav-right{
        display: none;
    }
    .second-container h1 {
        font-size: 5vw;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 0;
        margin: 0;
        margin-bottom: 30px;
    }

    .searchBar {
        width: auto;
        margin: 0;
    }

    #second-container-btn {
        margin: 0;
    }

    .section-two-btn {
        overflow-x: scroll;
    }

    .all-btn {
        width: auto;
        height: auto;
        padding: 1rem;
    }

    .btn {
        width: auto;
        height: auto;
        padding: 1rem;
    }

    .flex {
        flex-direction: column;
    }

    .cards {
        width: auto;
        margin-bottom: 10%;
    }

    .all.btn,
    .btn {
        min-width: 100px;
    }
}