/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .width-100 {
        width: auto;
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
    }

    .company-name {
        font-size: 5vw;
    }

    #mySidenav-icon {
        display: inline-block;
        margin-right: 5%;
    }

    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }

    .visible {
        display: none;
    }

    .second-container h1 {
        font-size: 5vw;
    }

    .input-container {
        margin-bottom: 30px;
    }

    .searchBar {
        width: auto;
        margin: 0;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 0;
        margin: 0;
        margin-bottom: 30px;
    }

    .section-two-btn {
        overflow-x: scroll;
    }

    .all-btn {
        width: auto;
        height: auto;
        padding: 1rem;
    }

    .btn {
        width: auto;
        height: auto;
        padding: 1rem;
    }

    .flex {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .cards {
        width: auto;
        margin: 5vw;
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 767px) {
    .width-100 {
        width: auto;
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
    }

    .company-name {
        font-size: 5vw;
    }

    #mySidenav-icon {
        display: inline-block;
        margin-right: 5%;
    }

    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }

    .visible {
        display: none;
    }

    .second-container h1 {
        font-size: 5vw;
    }

    .input-container {
        margin-bottom: 30px;
    }

    .searchBar {
        width: auto;
        margin: 0;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 0;
        margin: 0;
        margin-bottom: 30px;
    }

    .section-two-btn {
        overflow-x: scroll;
    }

    .all-btn {
        width: auto;
        height: auto;
        padding: 1rem;
    }

    .btn {
        width: auto;
        height: auto;
        padding: 1rem;
    }

    .flex {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .cards {
        width: auto;
        height: auto;
        margin: 5vw;
    }

}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .width-100 {
        width: auto;
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
    }

    .company-name {
        font-size: 3vw;
        margin-left: 30%;
    }

    #mySidenav-icon {
        display: inline-block;
        margin-right: 5%;
    }

    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }

    .visible {
        display: none;
    }

    .second-container h1 {
        font-size: 4vw;
    }


    .input-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 0;
        margin: 0;
        margin-bottom: 30px;
    }

    .searchBar {
        width: auto;
        margin: 0;
    }

    #second-container-btn {
        margin: 0;
    }

    .section-two-btn {
        overflow-x: scroll;
    }

    .btn {
        width: auto;
        height: auto;
        padding: 1rem;
    }

    .flex {
        flex-direction: column;
    }

    .cards {
        width: auto;
        margin: 5vw;
        /* margin-bottom: 10%; */
    }

}