@font-face {
    font-family: 'ClashDisplay';
    src: url('../styles/ClashDisplay-Medium.otf') format('opentype');
}


.nav-container {
    border-bottom: 1px solid grey;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-left {
    display: flex;
    gap: 40px;
    justify-content: space-around;
    align-items: center;
}

.company-name {
    font-family: clashdisplay;
    font-size: 30px;
    margin-left: 2rem;
    color: #ffbb29;
}

.nav-left-a a  {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: grey;
    font-family: 'Poppins', sans-serif;
    margin-right: 30px;
}
.nav-left-a a:hover {
    color: darkgrey;
}

.nav-right {
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 20px 41px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #252830;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}


#mySidenav-icon{
    display: none;
}
#mySidenav-icon img{
    height: 4vw;
    width: 4vw;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}