body {
    background-color: #141518;
    font-family: 'Poppins', sans-serif;
}

#ronitPic {
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
}

.top-container {
    display: flex;
    flex-direction: column;
}

#icon {
    align-items: right;
}


.left {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.second-container h1 {
    color: white;
    margin: 40px;
    font-size: 40px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}


.searchBar {
    background: #282C38;
    color: #757B8C;
    border: none;
    width: 350px;
    height: 18px;
    margin-left: 40px;
    padding: 12px;
    padding-left: 45px;
    border-radius: 6px;
}

#second-container-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 2rem;
    gap: 16px;
}

#second-container-btn button {
    height: 43px;
    width: 43px;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    margin: 0;
    padding: 0;
}

.section-two-btn {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: 40px;
    margin-top: 40px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.btn {
    cursor: pointer;
    background-color: #1D1F25;
    color: #757B8C;
    border: none;
    width: auto;
    height: auto;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 16px;
}

.btn:hover {
    background-color: #2a2d35;
    color: #7e8597;
}

.scrollable-container {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
}

.flex {
    display: flex;
    justify-content: space-around;
    margin: 3rem 0;

}

.card-btn {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.cards {
    width: 325px;
    height: auto;
    border-radius: 15px;
    text-align: left;
}

.cards-content {
    padding: 1rem;
}

.flex img {
    width: 100%;
    height: auto;
}

.flex h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    font-weight: 400;
    line-height: 1.4583vw;
    letter-spacing: 0.556vw;
    text-align: left;
    color: #ffbb29;
    margin-bottom: 1.0416vw;
}

.flex h4 {
    height: 4.027vw;
    font-weight: 600;
    font-size: 1.25vw;
    line-height: 2.0138vw;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-bottom: 1.0416vw;
}

.flex p {
    height: auto;
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 1.527vw;
    font-family: 'Poppins', sans-serif;
    color: #757B8C;
    margin-bottom: 1.0416vw;
}

.readMore-btn {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    color: #ffbb29;
    margin: 0;
    padding: 0;
}