body {
    background-color: #141518;
    font-family: 'Poppins', sans-serif;
}

#ronitPic {
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
}

.top-container {
    display: flex;
    flex-direction: column;
}

#icon {
    align-items: right;
}


.left {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.second-container h1 {
    color: white;
    margin: 40px;
    font-size: 40px;
}

.input-container {
    position: relative;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}


.searchBar {
    background: #282C38;
    color: #757B8C;
    border: none;
    width: 350px;
    height: 18px;
    margin-left: 40px;
    padding: 12px;
    padding-left: 45px;
    border-radius: 6px;
}

#second-container-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px;
    
}

#second-container-btn button {
    height: 43px;
    width: 43px;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    margin: 0;
    padding: 0;
}

.section-two-btn {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: 40px;
    margin-top: 40px;
}

.btn-forALL {
    background-color: #1D1F25;
    color: #757B8C;
    border: none;
    width: 68px;
    height: 50px;
    border-radius: 10px;
}

.btn {
    cursor: pointer;
    background-color: #1D1F25;
    color: #757B8C;
    border: none;
    width: 143px;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
}

.flex {
    display: flex;
    justify-content: space-around;
    margin: 3rem 0;
}

.card-btn {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.cards {
    width: 325px;
    height: auto;
    border-radius: 15px;
}

.cards-content {
    padding: 1rem;
}

.flex img {
    width: 100%;
    height: 200px;
}

.flex h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 8px;
    text-align: left;
    color: #ffbb29;
}

.flex h4 {
    height: 58px;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.flex p {
    height: 66px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Poppins', sans-serif;
    color: #757B8C;
}

.readMore-btn {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    color: #ffbb29;
    margin: 0;
    padding: 0;
}