body {
    margin: 0;
    padding: 0;
    background-color: #141518;
    font-family: 'Poppins', sans-serif;
}

#ronitPic{
    height: 100px;
    width: 100px;
    margin: 0;
    padding: 0;
}
.left-float {
    float: left;
}

.right-float {
    float: right;
}

.bg-color-darkblue {
    background-color: #1D1F25;
}


.top-container {
    display: flex;
    flex-direction: column;
}

.nav-container {
    border-bottom: 1px solid grey;
    ;
}

#nav-left {
    display: flex;
    align-items: center;
    margin-top: 36px;
}

.nav-container a {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: grey;
    font-family: 'Poppins', sans-serif;

}

#nav-el-1 {
    margin-left: 61px;
    margin-right: 40px;
}

#nav-el-2 {
    margin-right: 40px;
}

#nav-el-3 {
    margin-right: 40px;
}

#nav-el-4 {
    margin-right: 40px;
}

#nav-el-5 {
    margin: 0;
}


#svg-img {
    margin: 0;
    margin-left: 36px;
    padding: 0;
    display: inline-block;
}


.nav-right {
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 20px 41px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #252830;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    z-index: 1;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#icon {
    align-items: right;
}


.left {
    display: flex;
    flex-direction: column;
}

.second-container h1 {
    color: white;
    margin: 40px;
    font-size: 40px;
}

.input-container {
    position: relative;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

.searchBar {
    background: #282C38;
    color: #757B8C;
    border: none;
    width: 350px;
    height: 18px;
    margin-left: 40px;
    padding: 12px;
    padding-left: 45px;
    border-radius: 6px;
}

#input_img {
    position: absolute;
    bottom: 12px;
    left: 55px;
    height: 18px;
    width: 18px;
}

#second-container-btn {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 40px;
}

#second-container-btn button {
    height: 43px;
    width: 43px;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    margin: 0;
    padding: 0;
}

.section-two-btn {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: 40px;
    margin-top: 40px;
}

.btn-forALL {
    background-color: #1D1F25;
    color: #757B8C;
    border: none;
    width: 68px;
    height: 50px;
    border-radius: 50px;
}

.btn {
    cursor: pointer;
    background-color: #1D1F25;
    color: #757B8C;
    border: none;
    width: 143px;
    height: 50px;
    border-radius: 50px;
    font-size: 16px;
}

.flex {
    display: flex;
    justify-content: space-around;
    margin: 3rem 0;
}

.card-btn{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}
.cards {
    width: 325px;
    height: auto;
    border-radius: 15px;
}
.cards-content{
    padding: 1rem;
}

.flex img {
    width: 100%;
    height: 200px;
}

.flex h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 8px;
    text-align: left;
    color: #ffbb29;
}

.flex h4 {
    height: 58px;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.flex p {
    height: 66px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Poppins', sans-serif;
    color: #757B8C;
}

.readMore-btn {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    color: #ffbb29;
    margin: 0;
    padding: 0;
}